.metadata
.classpath
.project
cacophony/.settings
cacophony/cacophony.log4j.properties
*.class
*.log
*.log.*
*.DS_Store
external/cassandra
external/cassandra_config/trash
external/cassandra_tmp
external/hector
external/hector_examples
cacophony/src/www/bootstrap
cacophony/src/www/lib/orig
cacophony/bin
cacophony/cacophony.directory.properties
directory.jar
cacophony.directory.properties
cacophony/src/edu/uci/ics/luci/cacophony/DirectoryTest.cacophony.directory.properties
jar-in-jar-loader.zip
