<?xml version="1.0"?>
 <!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
 <properties>
   <comment>First entry is for JUnit testing</comment>
   <entry key="test">value</entry>
   <entry key="namespace">cacophony.luci.ics.uci.edu</entry>
   <entry key="nodelist.loader.class">edu.uci.ics.luci.cacophony.directory.nodelist.MySQL</entry>
   <entry key="nodelist.loader.class.options">{	server_address:"127.0.0.1:3306"\,
   												user:"<username>"\, >
   												password:"<password>"\,
   												database:"<databasename>"\,
   												listViewQuery:"select id AS ID\, name AS NAME from testList"\,
   												mapViewQuery:"select id AS ID\, Y(point) AS Y\, X(point) AS X\, weight AS MAP_WEIGHT from testList"}
   												</entry>
 </properties>
