<?xml version="1.0"?>
 <!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
 <properties>
   <comment>First entry is for JUnit testing</comment>
   <entry key="test">value</entry>
   <entry key="testing">true</entry>
   <entry key="url.internal">localhost</entry>
   <entry key="url.external">localhost</entry>
   <entry key="directory_seed">localhost:9020</entry>
   <entry key="namespace">cacophony.luci.ics.uci.edu</entry>
   <entry key="poll_for_config">true</entry>
   <entry key="pool_size">1</entry>
   <entry key="history.loader.class">edu.uci.ics.luci.cacophony.node.MySQL</entry>
   <entry key="history.loader.class.options">{ server_address:"127.0.0.1:3306"\,
												user:"<username>"\, >
   												password:"<password>"\,
   												database:"<databasename>"\,
											    historyQuery: "select * from testList" }
												
   												</entry>
 </properties>
